/* this section deals with the navigation bar */

  nav{
    background-color: #222E50;
    color: #FFFD98;
  }
  a:link{ color: #FFFD98}
  a:visited{color: #FFFD98 }


p{
    margin: 5px;
  }
a{
  margin: 5px;
}
  nav section{
    text-align: right;
  }

  nav h1{
    margin-bottom: -80px;
    margin-left: 10px;
    font-size: 70px;
    color: #FFFD98
  }

/* this section deals with the body */  
  body{
    background-color: #2A4849;
    color: #9A98B5;
  }
  h1{
    color: #5C946E;
  }
  h2{
    text-align: center;
    width: 80%;
  }
  article{
    font-size: x-large;
  }

/* this section creates containers for the text and images to allow formatting */
  

  .flex-container{
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .container{
    width: 60%;
    margin: 2%;
    justify-content:space-evenly;
    flex-direction: row;
  }
img{
    border: 3px solid white;
    width: 90%;
  }




  @media (max-width: 700px){
    article{
      background-color: pink;
    }
    .flex-container{
      flex-direction: column;
    }
    h1{
      font-size: xx-large;
    }
  }
  @media (max-width: 500px){
    article{
      background-color: darkcyan;
    }
    .flex-container{
      flex-direction: column;
    }
    h1{
      font-size: x-large;
    }
  }


  