/* this section deals with the navigation bar */

  nav{
    display: flex;
    background-color: #222E50;
    color: #FFFD98;
    justify-content:space-between;
  }
  a{
    margin: 5px;
  }
  a:link{ color: #FFFD98}
  a:visited{color: #FFFD98 }
  a:hover {
    color: #222E50;
    background-color: #FFFD98;
    border: 2px solid #FFFD98 ;
    border-radius: 15px;
  }
  
  nav h1{
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 70px;
    color: #FFFD98
  }
  nav section{
    text-align: right;
  }

  

/* this section deals with the body */  
  body{
    background-color: #2A4849;
    color: #9A98B5;
  }
  h1{
    color: #5C946E;
    width: 80%;
  }
  h2{
    text-align: center;
    width: 80%;
  }
  article{
    font-size: x-large;
    color: #d1cefe;
  }

/* this section creates containers for the text and images to allow formatting */
  

  .flex-container{
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .container{
    width: 60%;
    margin: 2%;
    justify-content:space-evenly;
    flex-direction: row;
  }
img{
    border: 3px solid white;
    border-radius: 20px;
    width: 90%;
  }
img:hover{
      transform: scale(1.2);
    }

/* this section is for the footer */

footer{
  display: flex;
  background-color: #222E50;
  color: #FFFD98;
  justify-content:space-between;
  padding:2%;
  margin-top: 3%;
}
footer p{
  margin: 5px;
}
footer section p{
  text-align: right;
}


/* this section modifies for screen sizes */

  @media (max-width: 700px){
    article{
      /* placeholder for future modifications */
      /* background-color: pink; */
    }
    .flex-container{
      flex-direction: column;
    }
    h1{
      font-size: xx-large;
    }
  }

  @media (max-width: 500px){
    article{
      /* placeholder for future modifications */
      /* background-color: darkcyan; */
    }
    .flex-container{
      flex-direction: column;
    }
    h1{
      font-size: x-large;
    }
    nav{
      flex-direction: column;
    }
    nav section{
      text-align: left;
    }
  }
 

  